<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520180204727-v2g1af1dtr5m3mlu3re79m8ult7jnmtk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520180204727-v2g1af1dtr5m3mlu3re79m8ult7jnmtk</string>
	<key>API_KEY</key>
	<string>AIzaSyBvgArY5l1bf_13Vdut_oAmQIdtl_yY-U8</string>
	<key>GCM_SENDER_ID</key>
	<string>520180204727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jtlc.jtlcQrScanner</string>
	<key>PROJECT_ID</key>
	<string>my-japfa-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>my-japfa-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520180204727:ios:d58b11d5c40b06f1b33932</string>
</dict>
</plist>